In [1]:
# Get Directory Path
import os
os.getcwd()

'C:\\Users\\peyto\\OneDrive\\Documents\\anaconda_projects\\Penguins Capstone\\Penguin Capstone Jupyter'

In [3]:
# Import Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
os.chdir("C:\\Users\\peyto\\OneDrive\\Documents\\anaconda_projects\\Penguins Capstone\\Penguin Capstone Jupyter")
path = os.getcwd()
path

'C:\\Users\\peyto\\OneDrive\\Documents\\anaconda_projects\\Penguins Capstone\\Penguin Capstone Jupyter'

In [7]:
# Read in csv of cleaned training data
raw_data = pd.read_csv('data/penguins_lter.csv')
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
1,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181,3750,MALE,NaN,NaN,Not enough blood for isotopes.
2,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186,3800,FEMALE,8.94956,-24.69454,NaN
3,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18,195,3250,FEMALE,8.36821,-25.33302,NaN
4,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.